
<mat-card style="min-width: 650px; width: 60%; margin: 0 auto; margin-top: 2%; text-align: center;">
    <br/>
    <mat-card-title style="color: black;">
        <h1>Inicio de sesión</h1>
    </mat-card-title>
    <br/><br/>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)" class="example-form" style="margin: 0 auto; font-size: 20px;">
            <mat-form-field class="example-full-width">
              <mat-label >Ingrese su usuario</mat-label>
              <input matInput name="_username" #_username="ngModel" [(ngModel)]="username" type="text" placeholder="Ingrese su usuario" required autofocus autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label >Ingrese su contraseña</mat-label>
              <input matInput name="_password" #_password="ngModel" [(ngModel)]="password" type="password" placeholder="Ingrese su contraseña"  required>
            </mat-form-field>

            <!--button mat-button style="background-color: white; width: 90%;">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Ingresa con Google
            </button-->
            <br/><br/>
            <button mat-raised-button color="primary" type="submit" style="width: 90%;">Iniciar sesión</button>
            <br/><br/>
            <p style="font-size: 16px;">¿No estas registrado? <a routerLink="/sign-up" style="color: blue;">Clic aquí</a></p>

        </form>
        <br/><br/>
        
    </mat-card-content>
</mat-card>

