
<mat-list role="list">

  
  <mat-list-item role="listitem" style="margin-top: 25%;">
    <button mat-button class="example-icon" aria-label="Example icon-button with heart icon">
      <span>Mi cuenta</span>
    </button>
  </mat-list-item>

  <hr>
  <h2>Paciente</h2>

  <mat-list-item role="listitem">
    <button mat-button [matMenuTriggerFor]="belowMenu" class="example-icon letra" aria-label="Example icon-button with share icon">Agendar cita</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item >Por videoconferencia</button>
      <button mat-menu-item >Por chat en linea</button>
    </mat-menu>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
      <span> Registros de facturación</span>
    </button>
  </mat-list-item>
  <hr>

<h2>Medico</h2>

  <mat-list-item role="listitem">
    <button mat-button [matMenuTriggerFor]="belowMenu" class="example-icon letra" aria-label="Example icon-button with share icon">Gestión de citas</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item >Por videoconferencia</button>
      <button mat-menu-item >Por chat en linea</button>
    </mat-menu>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
      <span> Registros de pagos recibidos</span>
    </button>
  </mat-list-item>

  <hr>

</mat-list>
