<h1 style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 4%; text-align: left;">Registro de pagos</h1>
<hr style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 1%; text-align: left; border: 1px solid;">
<div class="mat-elevation-z8" style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 2%; text-align: left;">

<div class="table-responsive">
  <table style="background-color: white;" class="table table-hover"  >
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col"> Id pago</th>
        <th scope="col">Id de la cita</th>
        <th scope="col">Fecha de pago</th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of datos; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{art.id}}</td>
        <td>{{art.id_appoiment_request}}</td>
        <td>{{art.date}}</td>
        <td style="color: red;">{{art.state}}</td>
        <td>{{art.description}}</td>
        <td>{{art.total}} <strong>$</strong></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
