<div class="container">
    <mat-grid-list cols="1" rowHeight="7:1">
        <mat-grid-tile>
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Acerca de nosotros</h1>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 25px;">
            ¿Quiénes somos y a que nos dedicamos?
        </mat-grid-tile>
        <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
            <p style="margin-left: 10px; margin-right: 10px;">
                Somos una empresa sin fines de lucro, al ver el cambio que ha ocurrido en todo el mundo debido al coronavirus 
                vimos la enorme necesidad que tiene la gente de recibir consultas medicas desde casa, una manera mucho mas 
                segura para ti y tu familia. Nos dedicamos a ofrecer servicios de gestión de consultas 
                en línea que te permite ahorrar y controlar desde cualquier sitio.
            </p>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: lightblue; border-radius: 10px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 25px;">
            <p>¿Por qué confiar en nosotros?</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p style="margin-left: 10px; margin-right: 10px;">
                Te garantizamos servicios de calidad, seguridad de tus datos con protocolos de transmisión cifrados, 
                cumplimiento de la Ley de Protección de Datos, reembolso en casos de fallos en servidore, etc.
            </p>
        </mat-grid-tile>
        <mat-grid-tile style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 25px;">
            ¿Qué soluciones te ofrecemos?
        </mat-grid-tile>
        <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
            <ul>
                <li>Te ofrecemos respuesta inmediata por parte de nuestros profesionales altamente preparados</li>
                <li>Completa privacidad a tus datos</li>
                <li>Optimos servicios de pago</li>
                <li>Soluciones médicas de calidad</li>
                <li>Control constante de citas medicas</li>
                <li>Formas alternas de comunicación</li>
            </ul>
        </mat-grid-tile>
    </mat-grid-list>
</div>