<mat-toolbar class="color-purple" style="height: 100px; color: white;">
  <button [hidden]="access!='1'" mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>

  <span style="margin-top: 0.5%;"><img src="../../../assets/logo.png" height="90px"></span>
  <span class="example-spacer"></span>
  <button mat-button class="example-icon" routerLink="/principalpage" aria-label="Example icon-button with heart icon">
      <span>Inicio</span>
  </button>
  <button [hidden]="access == '1'" mat-button class="example-icon" routerLink="/log-in" aria-label="Example icon-button with heart icon">
      <span>Iniciar sesión</span>
  </button>
  <button [hidden]="access == '1'" mat-button routerLink="/sign-up"  class="example-icon" aria-label="Example icon-button with share icon">
      <span>Registrarse</span>
  </button>
  <button mat-button class="example-icon" routerLink="/services-info" aria-label="Example icon-button with share icon">
      <span>Servicios</span>
  </button>
  <button mat-button class="example-icon" routerLink="/about-us" aria-label="Example icon-button with share icon">
      <span>Acerca de nosotros</span>
  </button>
</mat-toolbar>


<mat-sidenav-container style="height: 89.7%; background-color: #D6E8EE;">
  <mat-sidenav #sidenav mode="side" style="background-color: #00416d;" > 
      <mat-list role="list">
          <h2 style="text-align: center; padding-top: 20px;">Menú de navegación</h2>
          <hr>
          <mat-list-item role="listitem">
            <button mat-button class="example-icon" routerLink="/dashboard" aria-label="Example icon-button with heart icon">
              <span>Mi información de usuario</span>
            </button>
          </mat-list-item>
          
          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/users" aria-label="Example icon-button with heart icon">
                  <span>Usuarios del sistema</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/managment-videoconferences" aria-label="Example icon-button with heart icon">
                  <span>Gestión de citas médicas por videoconferencia</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/managment-chat" aria-label="Example icon-button with heart icon">
                  <span>Gestión de citas médicas por chat en línea</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/payroll" aria-label="Example icon-button with heart icon">
                  <span>Planilla de pagos</span>
              </button>
          </mat-list-item>
          
          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/statistical" aria-label="Example icon-button with heart icon">
                  <span>Módulo estadístico</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '0'" role="listitem">
              <button mat-button class="example-icon" routerLink="/error-control" aria-label="Example icon-button with heart icon">
                  <span>Control de errores del sistema</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '2'" role="listitem">
              <button mat-button class="example-icon" routerLink="/calendar-and-access-date" aria-label="Example icon-button with heart icon">
                  <span>Calendario y acceso a citas</span>
              </button>
          </mat-list-item>
          <mat-list-item [hidden]="role != '2'" role="listitem">
              <button mat-button class="example-icon" routerLink="/videoconferences-frontend" aria-label="Example icon-button with heart icon">
                  <span>Agendar cita por videoconferencia</span>
              </button>
          </mat-list-item>
          <mat-list-item [hidden]="role != '2'" role="listitem">
              <button mat-button class="example-icon" routerLink="/chat-frontend" aria-label="Example icon-button with heart icon">
                  <span>Agendar cita por chat en línea</span>
              </button>
          </mat-list-item>
        
          <mat-list-item [hidden]="role != '2'" role="listitem">
            <button mat-button class="example-icon" routerLink="/payment" aria-label="Example icon-button with share icon">
              <span> Registros de facturación</span>
            </button>
          </mat-list-item>
          
          <mat-list-item [hidden]="role != '1'" role="listitem">
              <button mat-button class="example-icon" routerLink="/calendar-and-access-date" aria-label="Example icon-button with heart icon">
                  <span>Calendario y acceso a citas</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '1'" role="listitem">
              <button mat-button class="example-icon" routerLink="/video-doctor" aria-label="Example icon-button with share icon">
                <span> Gestionar citas por videoconferencia</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '1'" role="listitem">
              <button mat-button class="example-icon" routerLink="/chat-doctor" aria-label="Example icon-button with share icon">
                <span> Gestionar citas por chat en línea</span>
              </button>
          </mat-list-item>

          <mat-list-item [hidden]="role != '1'" role="listitem">
            <button mat-button class="example-icon" routerLink="/payment" aria-label="Example icon-button with share icon">
              <span> Registros de pagos recibidos</span>
            </button>
          </mat-list-item>
  

          <mat-list-item role="listitem">
              <button mat-button class="example-icon" (click)="closeSession()" aria-label="Example icon-button with share icon">
                <span> Cerrar sesión</span>
              </button>
          </mat-list-item>
        
        </mat-list>
  </mat-sidenav>
    
  <mat-sidenav-content> 













<!-- Masthead-->
   <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">CIMO</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">¡Comienza dandole importancia a tu salud hoy!</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Iniciar</a>
        </div>
    </div>
</header>


<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Nuestro compromiso</span>
              <span class="section-heading-lower">Para ti</span>
            </h2>
            <p class="mb-0">Otorgar la oportunidad de tener a la mano la disponibilidad de contar con profesionales de calidad, que puedan ayudarte en los momentos donde necesites conocer como te encuentres, tanto en una ocasión cotidiana como en una emergencia donde sabemos que es complicado salir a buscar ayuda medica.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


   <!-- Image Showcases -->
   <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../assets/especialidades.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h1>Profesionales de calidad</h1>
          <p class="lead mb-0">Tendras a disposición de una gran gama de profesionales de la salud de diferentes areas, esperandote para poder interactuar en consultas personalizadas.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../assets/tec2.png');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h1>Consultas dinámicas </h1>
          <p class="lead mb-0">Una nueva metodologia, en busqueda de globalizar la atencion a la salud personal en diferentes ambitos, hemos planteado la idea de podedr interactuar de manera digital en casi cualquier dispositivo en el que te conectes a la pagina, así con un solo clic podras tener la atención que necesitas para mantenerte bien.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../assets/comercio.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h1>Seguridad y fiabilidad</h1>
          <p class="lead mb-0">Disponemos de un nivel alto de confidencialidad en las consultas con el personal de salud, ademas de metodos de pagos especiales que te permitiran de forma facil conectarte con cualquier profesional de las especialidades disponibles.</p>
        </div>
      </div>
    </div>
  </section>


        <!-- Team-->
        <section class="page-section2 " id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Equipo de Desarrollo</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../../assets/samuel.PNG" alt="" />
                            <h1>Samuel Tobías</h1>
                            <p class="text-muted">Desarrollador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../../assets/joshua4.jpg" alt="" />
                            <h1>Joshua Caleb</h1>
                            <p class="text-muted">Desarrollador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../../assets/wilmer2.jpg" alt="" />
                            <h1>Willmer Melchor</h1>
                            <p class="text-muted">Diseñador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../../assets/will.jpg" alt="" />
                            <h1>Will Vásquez</h1>
                            <p class="text-muted">Diseñador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../../assets/kevin.jpg" alt="" />
                            <h1>Kevin Pleitez</h1>
                            <p class="text-muted">Diseñador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>





















      </mat-sidenav-content>
    </mat-sidenav-container>
    
    <mat-toolbar class="color-purple" style="height: 215px; color: white;">
        
        <div class="contenedor-footer">
            
            <div class="container-fluid text-center text-md-left">
            
                <div class="row">
            
                    <div class="col-md-6 mt-md-0 mt-3">
    
                        <img src="../../../assets/logo.png" height="90px">
    
    
                    </div>
            
                    <hr class="clearfix w-100 d-md-none pb-3">
    
            
                    <div class="col-md-6 mb-md-0 mb-3">
    
            
                        <button  mat-button routerLink="/politicas"  class="example-icon" aria-label="Example icon-button with share icon">
                            <span>-Politicas del sitio</span>
                        </button><br>
                        <button  mat-button routerLink="/#"  class="example-icon" aria-label="Example icon-button with share icon">
                            <span>-Preguntas Frecuentes</span>
                        </button><br>
                       
                        <button  mat-button routerLink="/about-us"  class="example-icon" aria-label="Example icon-button with share icon">
                            <span>-Acerca de nosotros</span>
                        </button>
                    </div>
            
    
                </div>
            
    
            </div>
        </div>
    </mat-toolbar>