<mat-toolbar class="color-purple" style="height: 100px; color: white;">
    <button [hidden]="access!='1'" mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span style="margin-top: 0.5%;"><img src="../../../assets/logo.png" height="90px"></span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" routerLink="/principalpage" aria-label="Example icon-button with heart icon">
        <span>Inicio</span>
    </button>
    <button [hidden]="access == '1'" mat-button class="example-icon" routerLink="/log-in" aria-label="Example icon-button with heart icon">
        <span>Iniciar sesión</span>
    </button>
    <button [hidden]="access == '1'" mat-button routerLink="/sign-up"  class="example-icon" aria-label="Example icon-button with share icon">
        <span>Registrarse</span>
    </button>
    <button mat-button class="example-icon" routerLink="/services-info" aria-label="Example icon-button with share icon">
        <span>Servicios</span>
    </button>
    <button mat-button class="example-icon" routerLink="/about-us" aria-label="Example icon-button with share icon">
        <span>Acerca de nosotros</span>
    </button>
</mat-toolbar>


<mat-sidenav-container style="height: 89.7%; background-color: #D6E8EE;">
    <mat-sidenav #sidenav mode="side" style="background-color: #00416d;" > 
        <mat-list role="list">
            <h2 style="text-align: center; padding-top: 20px;">Menú de navegación</h2>
            <hr>
            <mat-list-item role="listitem">
              <button mat-button class="example-icon" routerLink="/dashboard" aria-label="Example icon-button with heart icon">
                <span>Mi información de usuario</span>
              </button>
            </mat-list-item>
            
            <mat-list-item [hidden]="role != '0'" role="listitem">
                <button mat-button class="example-icon" routerLink="/users" aria-label="Example icon-button with heart icon">
                    <span>Usuarios del sistema</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '0'" role="listitem">
                <button mat-button class="example-icon" routerLink="/managment-videoconferences" aria-label="Example icon-button with heart icon">
                    <span>Gestión de citas médicas</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '0'" role="listitem">
                <button mat-button class="example-icon" routerLink="/payroll" aria-label="Example icon-button with heart icon">
                    <span>Planilla de pagos</span>
                </button>
            </mat-list-item>
            
            <!--mat-list-item [hidden]="role != '0'" role="listitem">
                <button mat-button class="example-icon" routerLink="/statistical" aria-label="Example icon-button with heart icon">
                    <span>Módulo estadístico</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '0'" role="listitem">
                <button mat-button class="example-icon" routerLink="/error-control" aria-label="Example icon-button with heart icon">
                    <span>Control de errores del sistema</span>
                </button>
            </mat-list-item-->

            <mat-list-item [hidden]="role != '2'" role="listitem">
                <button mat-button class="example-icon" routerLink="/calendar-and-access-date" aria-label="Example icon-button with heart icon">
                    <span>Calendario y acceso a citas</span>
                </button>
            </mat-list-item>
            <mat-list-item [hidden]="role != '2'" role="listitem">
                <button mat-button class="example-icon" routerLink="/videoconferences-frontend" aria-label="Example icon-button with heart icon">
                    <span>Agendar cita por videoconferencia</span>
                </button>
            </mat-list-item>
            <mat-list-item [hidden]="role != '2'" role="listitem">
                <button mat-button class="example-icon" routerLink="/chat-frontend" aria-label="Example icon-button with heart icon">
                    <span>Agendar cita por chat en línea</span>
                </button>
            </mat-list-item>
          
            <mat-list-item [hidden]="role != '2'" role="listitem">
              <button mat-button class="example-icon" routerLink="/payment" aria-label="Example icon-button with share icon">
                <span> Registros de facturación</span>
              </button>
            </mat-list-item>
            
            <mat-list-item [hidden]="role != '1'" role="listitem">
                <button mat-button class="example-icon" routerLink="/calendar-and-access-date" aria-label="Example icon-button with heart icon">
                    <span>Calendario y acceso a citas</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '1'" role="listitem">
                <button mat-button class="example-icon" routerLink="/video-doctor" aria-label="Example icon-button with share icon">
                  <span> Gestionar citas por videoconferencia</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '1'" role="listitem">
                <button mat-button class="example-icon" routerLink="/chat-doctor" aria-label="Example icon-button with share icon">
                  <span> Gestionar citas por chat en línea</span>
                </button>
            </mat-list-item>

            <mat-list-item [hidden]="role != '1'" role="listitem">
              <button mat-button class="example-icon" routerLink="/payment" aria-label="Example icon-button with share icon">
                <span> Registros de pagos recibidos</span>
              </button>
            </mat-list-item>
    

            <mat-list-item role="listitem">
                <button mat-button class="example-icon" (click)="closeSession()" aria-label="Example icon-button with share icon">
                  <span> Cerrar sesión</span>
                </button>
            </mat-list-item>
          
          </mat-list>
    </mat-sidenav>
      
    <mat-sidenav-content>             
            <p>frequent-questions works!</p>

</mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="color-purple" style="height: 215px; color: white;">
    
    <div class="contenedor-footer">
        
        <div class="container-fluid text-center text-md-left">
        
            <div class="row">
        
                <div class="col-md-6 mt-md-0 mt-3">

                    <img src="../../../assets/logo.png" height="90px">


                </div>
        
                <hr class="clearfix w-100 d-md-none pb-3">

        
                <div class="col-md-6 mb-md-0 mb-3">

        
                    <button  mat-button routerLink="/politicas"  class="example-icon" aria-label="Example icon-button with share icon">
                        <span>-Politicas del sitio</span>
                    </button><br>
                    <button  mat-button routerLink="/#"  class="example-icon" aria-label="Example icon-button with share icon">
                        <span>-Preguntas Frecuentes</span>
                    </button><br>
                    
                    <button  mat-button routerLink="/about-us"  class="example-icon" aria-label="Example icon-button with share icon">
                        <span>-Acerca de nosotros</span>
                    </button>
                </div>
        

            </div>
        

        </div>
    </div>
</mat-toolbar>

