<h1 style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 4%; text-align: left;">Mi informacion de usuario</h1>
<hr style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 1%; text-align: left; border: 1px solid;">

<div class="mat-elevation-z8" style="min-width: 650px; width: 80%; margin: 0 auto; margin-top: 2%; text-align: left;">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <p class="card-category">Datos de perfil</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Usuario:</mat-label>
                                          <input [disabled]="codigo == 0 ? true : null" type="text" matInput name="_username" #_username="ngModel" [(ngModel)]="username">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Nombre:</mat-label>
                                          <input [disabled]="codigo == 0 ? true : null" type="text" matInput name="_name" #_name="ngModel" [(ngModel)]="name" >
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Apellido:</mat-label>
                                          <input [disabled]="codigo == 0 ? true : null" type="text" matInput name="_lastname" #_lastname="ngModel" [(ngModel)]="lastname" >
                                          </mat-form-field>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>DUI:</mat-label>
                                        <input [disabled]="codigo == 0 ? true : null" matInput  type="text" name="_dui" #_dui="ngModel" [(ngModel)]="dui_or_passport">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Telefono:</mat-label>
                                        <input [disabled]="codigo == 0 ? true : null" matInput name="_phone" #_phone="ngModel" [(ngModel)]="phone" type="tel">                                        
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Correo:</mat-label>
                                        <input  [disabled]="codigo == 0 ? true : null" matInput name="_email" #_email="ngModel" [(ngModel)]="email" type="email">                                        
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <mat-label>Pais:</mat-label>
                                        <input [disabled]="codigo == 0 ? true : null" matInput name="_nationality" #_nationality="ngModel" [(ngModel)]="nationality" type="text">
                                      </mat-form-field>
                                    </div>
                                    
                                </div>
                                
                                <button (click)="seleccionar(id)" *ngIf="codigo == 0" color="accent" mat-raised-button type="submit" class="btn btn-danger pull-right">Editar</button>
                                &nbsp;
                                <button (click)="actualizar()" *ngIf="codigo !== 0"  color="primary" mat-raised-button type="submit" class="btn btn-danger pull-right">Actualizar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="javascript:void(0)">
                                <img class="rounded-circle img" src="../../assets/avatar.png" />
                            </a>
                        </div>
                        <div class="card-body">                            
                            <h4 class="card-title">{{username}}</h4>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>  
    
</div>


  