<h1 style="min-width: 650px; width: 60%; margin: 0 auto; margin-top: 4%; text-align: left;">Programar consulta para Videoconferencia</h1>
<hr style="min-width: 650px; width: 60%; margin: 0 auto; margin-top: 1%; text-align: left; border: 1px solid;">
   <mat-card style="min-width: 650px; width: 60%; margin: 0 auto; margin-top: 2%; margin-bottom: 5%; text-align: center;">
      <br/>
   <!--  <mat-card-title style="color: black;">
          <h1>Programar consulta por videoconferencia</h1>
      </mat-card-title> --> 
      <br/><br/>
      <mat-card-content>

          <form class="example-form" #registervideoForm="ngForm" (ngSubmit)="registerVideo(registervideoForm)" style="margin: 0 auto; font-size: 20px;">

              <mat-form-field appearance="fill" class="mb-5 example-full-width">
                  <mat-label>Elija fecha deseada</mat-label>
                  <input matInput [matDatepicker]="picker" name="_date" #_date="ngModel" [(ngModel)]="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint align="start"><strong>Fecha de consulta: MM/DD/AA</strong> </mat-hint>
              </mat-form-field>
              <br>

              <!--ESTE CAMPO OCULTO ES PARA LA FECHA ACTUAL-->

              <mat-form-field hidden appearance="fill" class="mb-5 example-full-width">
                <input matInput [matDatepicker]="picker3" name="_actual" #_actual="ngModel" [(ngModel)]="current_date">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
             
              <mat-form-field  class="example-full-width mb-5">
                  <input matInput type="text" name="_start_session" #_start_session="ngModel" [(ngModel)]="start_session" placeholder="Hora de inicio" required autofocus autocomplete="off">
                  <mat-hint align="start"><strong>Hora de inicio de consulta (Por favor asignar 48 horas de antelación minimo)</strong> </mat-hint>
              </mat-form-field>
              <br>
              
                <mat-form-field appearance="fill" class="example-full-width mb-5 mt-2">
                  <mat-label>Duranción de la consulta</mat-label>
                  <mat-select name="_duration" #_duration="ngModel" [(ngModel)]="duration" (change)="pago()">
                    <mat-option *ngFor="let item of lista" [value]="item.cantidad">
                      {{item.duracion}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="start"><strong>Tiempo de duración de la consulta</strong> </mat-hint>
                </mat-form-field>
                <br>
                <!--
              <mat-form-field class="example-full-width">
                  <mat-label >Ingrese link de conferencia</mat-label>
                  <input matInput type="text" placeholder="Ingrese link" required autofocus autocomplete="off">
                </mat-form-field>  -->
  
                <mat-form-field class="example-full-width mb-5">
                  <input matInput type="number" name="_age" #_age="ngModel" [(ngModel)]="age" placeholder="" required autofocus autocomplete="off">
                  <mat-hint align="start"><strong>Edad del paciente</strong> </mat-hint>
              </mat-form-field>
              <br>
               
                <mat-form-field appearance="fill" class="example-full-width mb-5">
                  <mat-label>Profesión</mat-label>
                  <mat-select name="_profession" #_profession="ngModel" [(ngModel)]="profession">
                    <mat-option *ngFor="let item of profesiones" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="start"><strong>Profesión del médico para la cita</strong> </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width mb-4">
                  <mat-label>Especialidad</mat-label>
                  <mat-select name="_specialization" #_specialization="ngModel" [(ngModel)]="specialization">
                    <mat-option *ngFor="let item of especializaciones" [value]="item.id">
                      {{item.tipo}}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="start"><strong>Especialidad del profesional para la cita</strong> </mat-hint>
                </mat-form-field>
              
                  <mat-form-field class="example-full-width mb-5 mt-3">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput placeholder="" name="_commentary" #_commentary="ngModel" [(ngModel)]="commentary"></textarea>
                    <mat-hint align="start"><strong>Coloque información sobre la consulta</strong> </mat-hint>
                  </mat-form-field>
                
              <br/><br/>
              
              <hr style="border: 1px solid;" >
              <h1>Datos de pago</h1>
              <hr style="border: 1px solid;" class="mt-5">

              <mat-form-field class="example-full-width mb-5 mt-5">
                <input matInput type="text" name="_number_card" #_number_card="ngModel" [(ngModel)]="number_card" placeholder="" required autofocus autocomplete="off">
                <mat-hint align="start"><strong>Ingrese el número de su targeta</strong> </mat-hint>
            </mat-form-field>

            <br>

          <mat-form-field appearance="fill" class="mb-5 example-full-width">
            <mat-label>Elija fecha deseada</mat-label>
            <input matInput [matDatepicker]="picker2" name="_expiration_date_card" #_expiration_date_card="ngModel" [(ngModel)]="expiration_date_card">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-hint align="start"><strong>Fecha de expiración de la targeta</strong> </mat-hint>
        </mat-form-field>
          <br>

          <mat-form-field class="example-full-width mb-5">
            <input matInput type="text" name="_to_name_card" #_to_name_card="ngModel" [(ngModel)]="to_name_card" placeholder="Dueño de la targeta" required autofocus autocomplete="off">
            <mat-hint align="start"><strong>Dueño de la targeta</strong> </mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width mb-5">
            <input matInput type="text" name="_security_code" #_security_code="ngModel" [(ngModel)]="security_code" placeholder="" required autofocus autocomplete="off">
            <mat-hint align="start"><strong>Ingrese código de seguridad de su targeta</strong> </mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width mb-5">
            <input matInput type="text"  disabled="disabled" name="_total" #_total="ngModel" [(ngModel)]="total"   autofocus >
            <mat-hint align="start"><strong>Total a pagar</strong> </mat-hint>
          </mat-form-field>
          <br>

              <div class="example-button-row">
                  <button mat-raised-button color="primary" type="submit" style="width: 40%; margin-right: 10px;">Programar</button>
                  
                </div>
              
  
          </form>
          <br/>
        </mat-card-content>
      </mat-card>
  