<mat-card style="min-width: 650px; width: 60%; margin: 0 auto; margin-top: 2%; text-align: center;">
    <br/>
    <mat-card-title style="color: black;">
        <label style="color: green; text-decoration: underline;">{{message2}}</label>
        <label style="color: red; text-decoration: underline; padding-bottom: 1%;" >{{message3}}</label>
        <h1>¡Crea tu cuenta!</h1>
    </mat-card-title>
    <br/><br/>
    <mat-card-content>
        <h2>Seleccione el tipo de cuenta que desea crear</h2>

            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Crear cuenta de tipo paciente"> 
                    <form class="example-form" #registerpacientForm="ngForm" (ngSubmit)="registerPacient(registerpacientForm)" style="margin: 0 auto; font-size: 16px;">
                        <br/>
                        <mat-form-field class="example-full-width">
                            <mat-label >Usuario</mat-label>
                            <input matInput name="_username" #_username="ngModel" [(ngModel)]="username" type="text" placeholder="Ingrese un nombre de usuario" required autocomplete="off">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message4}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Contraseña (Debe de contener letras y números)</mat-label>
                            <input matInput name="_password" #_password="ngModel" [(ngModel)]="password" type="password" placeholder="Ingrese una contraseña" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Comprobar contraseña</mat-label>
                            <input matInput type="password" name="_confirmpassword" #_confirmpassword="ngModel" [(ngModel)]="confirmpassword" placeholder="Ingrese nuevamente la contraseña" required autocomplete="off">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Nombre</mat-label>
                            <input matInput type="text" name="_name" #_name="ngModel" [(ngModel)]="name" placeholder="Ingrese su nombre" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Apellido</mat-label>
                            <input matInput type="text" name="_lastname" #_lastname="ngModel" [(ngModel)]="lastname" placeholder="Ingrese su apellido" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Correo eléctronico</mat-label>
                            <input matInput type="text" name="_email" #_email="ngModel" [(ngModel)]="email" placeholder="Ingrese su correo eléctronico" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required autocomplete="off">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message5}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Número telefónico o celular</mat-label>
                            <input matInput type="text" name="_phone" #_phone="ngModel" [(ngModel)]="phone" placeholder="Ingrese su número de contacto" autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nacionalidad</mat-label>
                            <mat-select name="_nationality" #_nationality="ngModel" [(ngModel)]="nationality" required>
                                <input (keyup)="onKey($event.target.value)">
                                <mat-option>Ingrese su país de origen</mat-option>
                                <mat-option *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <br/><br/>
                        <button [disabled]="!registerpacientForm.valid" mat-raised-button color="primary" type="submit" style="width: 90%;">Registrar cuenta</button>
                        <br/><br/>
                    </form>

                </mat-tab>

                <mat-tab label="Crear cuenta de tipo doctor">  
                    <form class="example-form" #registerdoctorForm="ngForm" (ngSubmit)="registerDoctor(registerdoctorForm)" style="margin: 0 auto; font-size: 16px;">
                        <br/>
                        <mat-form-field class="example-full-width">
                            <mat-label >Usuario</mat-label>
                            <input matInput name="_username" #_username="ngModel" [(ngModel)]="username" type="text" placeholder="Ingrese un nombre de usuario" required autocomplete="off">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message4}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Contraseña (Debe de contener letras y números)</mat-label>
                            <input matInput name="_password" #_password="ngModel" [(ngModel)]="password" type="password" placeholder="Ingrese una contraseña" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Comprobar contraseña</mat-label>
                            <input matInput type="password" name="_confirmpassword" #_confirmpassword="ngModel" [(ngModel)]="confirmpassword" placeholder="Ingrese nuevamente la contraseña" required autocomplete="off">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Nombre</mat-label>
                            <input matInput type="text" name="_name" #_name="ngModel" [(ngModel)]="name" placeholder="Ingrese su nombre" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Apellido</mat-label>
                            <input matInput type="text" name="_lastname" #_lastname="ngModel" [(ngModel)]="lastname" placeholder="Ingrese su apellido" required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label >Correo eléctronico</mat-label>
                            <input matInput type="text" name="_email" #_email="ngModel" [(ngModel)]="email" placeholder="Ingrese su correo eléctronico" required autocomplete="off" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                        </mat-form-field>
                        <label style="color: red; text-decoration: underline;">{{message5}}</label>

                        <mat-form-field class="example-full-width">
                            <mat-label >Número telefónico o celular</mat-label>
                            <input matInput type="text" name="_phone" #_phone="ngModel" [(ngModel)]="phone" placeholder="(Código de area) Número, ejemplo: ###00000000" required autocomplete="off" pattern="[0-9]\d*">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nacionalidad</mat-label>
                            <mat-select name="_nationality" #_nationality="ngModel" [(ngModel)]="nationality" required>
                                <input (keyup)="onKey($event.target.value)">
                                <mat-option>Ingrese su país de origen</mat-option>
                                <mat-option *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" >
                            <mat-label >Dui o pasaporte</mat-label>
                            <input matInput type="text" name="_dui_or_passport" #_dui_or_passport="ngModel" [(ngModel)]="dui_or_passport" placeholder="Ingrese su número de dui o pasaporte" required autocomplete="off">
                        </mat-form-field>

                        <!--div class="form-group example-full-width" style="margin: .4rem 0;">
                            <label style="display: block; margin: .4rem 0;" for="_cv">Curriculum vitae:</label>
                            <input (change)="fileEvent($event)" type="file" name="_cv" #_cv="ngModel" [(ngModel)]="cv" value="Ingrese su curriculum vitae" autocomplete="off">
                        </div-->

                        <mat-form-field class="example-full-width">
                            <mat-label>Profesión</mat-label>
                            <mat-select name="_profession_specialization_select" #_profession_specialization_select="ngModel" [(ngModel)]="profession_specialization_select" required>
                                <mat-option>Ingrese su profesión</mat-option>
                                <mat-option *ngFor="let p of profession_specialization" [value]="p.id" >{{p.profession}} / {{p.specialization}}</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <br/><br/>
                        <button mat-raised-button color="primary" [disabled]="!registerdoctorForm.valid" type="submit" style="width: 90%;">Registrar cuenta</button>
                        <br/><br/>
                    </form>
                </mat-tab>
            </mat-tab-group>
    
        <br/><br/>
        
    </mat-card-content>
</mat-card>
