/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #97CADB;}

.color-purple{
    background-color: #001B48;
}

.color-dark-blue{
    background-color: #02457A;
}

.color-blue{
    background-color: #018ABE;
}

.color-light-blue{
    background-color: #97CADB;
}

.color-white-blue{
    background-color: #D6E8EE;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}
  
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-button-wrapper span,h2 {
    color: white;
}
span{
    text-decoration: underline;
}
.letra {
    color: white;
}

hr {
  border: #d2f5e3 1px solid;
}

.contenedor-footer{
    padding-top: 30px;
    margin: 0px auto;
    width: 40%;
    height: 100%;   
}


.mat-option-text{
    color: black;
}

.mat-select-value-text *{
    color: black;
}

