<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombres" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Apellidos" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Correo electronico">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telefono</mat-label>
    <input matInput placeholder="Telefono" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Sueldo</mat-label>
    <input matInput placeholder="Sueldo" >
  </mat-form-field>


  <button mat-stroked-button color="accent">Aceptar</button>
  <button mat-stroked-button  (click)="onNoClick()">Cerrar</button>
</form>
