<mat-grid-list cols="1" rowHeight="7:1">
        <mat-grid-tile>
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Servicios</h1>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="container">
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
                <mat-card>
                    <mat-card-title>
                        Consultas médicas las 24 horas del día
                    </mat-card-title>
                    <br>
                    <mat-card-content>
                        Le ofrecemos consultas médicas las 24 horas del día, profesionales a su disposición a cualquier hora y cuando lo necesite.
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile style="margin-left: 10px;">
                <img src="../../assets/24h.png">
            </mat-grid-tile>
            <br>
            <div>
                <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
                    <mat-card>
                        <mat-card-title>
                            Profesionales altamente capacitados
                        </mat-card-title>
                        <br>
                        <mat-card-content>
                            Médicos profesionales altamentente capacitados con muchos años de experiencia en el área, preparados para atender sus problemas médicos sin importar su índole.
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile style="margin-left: 10px;">
                    <img src="../../assets/docs.jpg" >
                </mat-grid-tile>
            </div>
            <br>
            <div>
                <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
                    <mat-card>
                        <mat-card-title>
                            Consultas por medio de videoconferencia
                        </mat-card-title>
                        <br>
                        <mat-card-content>
                            Tiene a su disposición la opción de recibir consultas médicas vía videoconferencia, la plataforma en la que ud se sienta más cómodo. 
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile style="margin-left: 10px;">
                    <img src="../../assets/videoconf.jpg">
                </mat-grid-tile>
            </div>
            <br>
            <div>
                <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
                    <mat-card>
                        <mat-card-title>
                            Consultas médicas vía chat
                        </mat-card-title>
                        <br>
                        <mat-card-content>
                            Ofrecemos consultas médicas vía chat en dado caso ud no se encuentre en condiciones de poder realizar una videollamada, vía chat estará un mécido atendiendole cuando lo necesite.
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile style="margin-left: 10px;">
                    <img src="../../assets/chat.jpg">
                </mat-grid-tile>
            </div>
            <br>
            <div>
                <mat-grid-tile style="background-color: lightblue; border-radius: 10px;">
                    <mat-card>
                        <mat-card-title>
                            Seguridad en tus datos
                        </mat-card-title>
                        <br>
                        <mat-card-content>
                            Disponemos de sólidos métodos de seguridad para resguardar tus datos, tus pagos y toda tu información personal, en dado caso que un falle se dé, te garantizamos un reembolso inmediato.
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile style="margin-left: 10px;">
                    <img src="../../assets/security.png">
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
<br><br>
