
<mat-toolbar class="color-purple" style="height: 100px; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-top: 0.5%;"><img src="../../../assets/logo.png" height="90px"></span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" aria-label="Example icon-button with heart icon">
        <span>Iniciar sesión</span>
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <span>Crear cuenta</span>
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <span>Servicios</span>
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <span>Acerca de nosotros</span>
    </button>
</mat-toolbar>
    

